# lab1

this is my first lab

In [2]:
import pandas as pd 

covid_data= pd.read_csv('s3://ia340466879/data.csv')

covid_data.head()

/home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages/fsspec/registry.py:298: UserWarning: Your installed version of s3fs is very old and known to cause
severe performance issues, see also https://github.com/dask/dask/issues/10276

To fix, you should specify a lower version bound on s3fs, or
update the current installation.

  warnings.warn(s3_msg)

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2019,continentExp,Cumulative_number_for_14_days_of_COVID-19_cases_per_100000
0,14/12/2020,14,12,2020,746,6,Afghanistan,AF,AFG,38041757.0,Asia,9.013779
1,13/12/2020,13,12,2020,298,9,Afghanistan,AF,AFG,38041757.0,Asia,7.052776
2,12/12/2020,12,12,2020,113,11,Afghanistan,AF,AFG,38041757.0,Asia,6.868768
3,11/12/2020,11,12,2020,63,10,Afghanistan,AF,AFG,38041757.0,Asia,7.134266
4,10/12/2020,10,12,2020,202,16,Afghanistan,AF,AFG,38041757.0,Asia,6.968658

In [3]:
import pandas as pd

airplane_data= pd.read_csv('s3://ia340466879/NTAD_Aviation_Facilities_7163558772200366310.csv')

airplane_data.head()

/tmp/ipykernel_10744/3502427545.py:3: DtypeWarning: Columns (45,46,47) have mixed types. Specify dtype option on import or set low_memory=False.
  airplane_data= pd.read_csv('s3://ia340466879/NTAD_Aviation_Facilities_7163558772200366310.csv')

,OBJECTID,EFF_DATE,SITE_NO,SITE_TYPE_CODE,STATE_CODE,ARPT_ID,CITY,COUNTRY_CODE,REGION_CODE,ADO_CODE,...,TRNS_STRG_HGR_FLAG,TRNS_STRG_TIE_FLAG,OTHER_SERVICES,WIND_INDCR_FLAG,ICAO_ID,MIN_OP_NETWORK,USER_FEE_FLAG,CTA,x,y
0,1,2025/08/07,103.00,A,AL,0J0,ABBEVILLE,US,ASO,JAN,...,NaN,Y,NaN,Y-L,NaN,N,NaN,NaN,-9.488711e+06,3.711143e+06
1,2,2025/08/07,106.00,A,AL,2A8,ADDISON,US,ASO,JAN,...,NaN,N,NaN,Y,NaN,N,NaN,NaN,-9.702402e+06,4.057996e+06
2,3,2025/08/07,108.00,A,AL,AL03,AKRON,US,ASO,JAN,...,NaN,NaN,NaN,Y,NaN,N,NaN,NaN,-9.764265e+06,3.875080e+06
3,4,2025/08/07,110.00,A,AL,EET,ALABASTER,US,ASO,JAN,...,NaN,Y,"INSTR,RNTL,SALES",Y-L,KEET,N,NaN,NaN,-9.660664e+06,3.918925e+06
4,5,2025/08/07,110.01,H,AL,AL39,ALABASTER,US,ASO,JAN,...,NaN,NaN,NaN,Y,NaN,N,NaN,NaN,-9.663892e+06,3.928830e+06